<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
    <head>
        <meta charset="utf-8">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114301733-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-114301733-1');
        </script>
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        {% seo %}
        <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
        <meta name="viewport" content="width=device-width">
    </head>

    <body>
        <div class="wrapper">
            <header>
                <a href="{{ site.github.url }}"> <h1>{{ site.title | default: site.github.repository_name }}</h1></a>
                <p>
                    <a href="https://github.com/alnvdl"><strong>GitHub profile</strong></a>&nbsp;&nbsp;|&nbsp;&nbsp;
                    <a href="https://www.linkedin.com/in/alnvdl"><strong>LinkedIn profile</strong></a>
                </p>
            </header>
            <section>
                {{ content }}
            </section>
            <footer>
                <p class="view">
                    <a href="/about.html">About me</a>
                    &nbsp;|&nbsp;
                    <a href="https://alnvdl.github.io/">Other posts</a>
                    &nbsp;|&nbsp;
                    <a href="/feed.xml">Feed</a>
                </p>
                <p class="view">
                    Found a problem? <a href="https://github.com/alnvdl/alnvdl.github.io/issues">Please raise an issue</a>.
                </p>
            </footer>
        </div>
        <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    </body>
</html>
